<div>
  <!--start:: form title  -->
  <app-form-title
    description="Welcome Back! Please enter your details"
    title="Register"
  ></app-form-title>
  <!--end:: form title  -->

  <!-- start:: form  -->
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <div class="container-flued">
      <div class="row justify-content-between">

        <!-- start::userName -->
        <div class="col-lg-5">
          <div class="input-group my-2 align-items-center">
            <div class="input-group-prepend">
              <span
                class="input-group-text d-inline-block border-end-0 rounded-end-0 py-2"
                id="userName"
                ><i class="fa-regular fa-user text-dark-gray"></i
              ></span>
            </div>
            <input
              type="text"
              class="form-control bg-light p-2"
              placeholder="Enter your name"
              aria-label="userName"
              aria-describedby="userName"
              formControlName="userName"
            />
          </div>
        </div>
        <!-- end::userName  -->

        <!-- start::email -->
        <div class="col-lg-5">
          <div class="input-group my-2 align-items-center">
            <div class="input-group-prepend">
              <span
                class="input-group-text d-inline-block border-end-0 rounded-end-0 py-2"
                id="UserEmail"
                ><i class="fa-regular fa-envelope text-dark-gray"></i
              ></span>
            </div>
            <input
              type="email"
              class="form-control bg-light p-2"
              placeholder="Enter your E-mail"
              aria-label="UserEmail"
              aria-describedby="UserEmail"
              formControlName="email"
            />
          </div>
        </div>
        <!-- end::email -->

        <!-- start::country -->
        <div class="col-lg-5">
          <div class="input-group my-2 align-items-center">
            <div class="input-group-prepend">
              <span
                class="input-group-text d-inline-block border-end-0 rounded-end-0 py-2"
                id="UserCountry"
                ><i class="fa-solid fa-globe text-dark-gray"></i
              ></span>
            </div>
            <input
              type="text"
              class="form-control bg-light p-2"
              placeholder="Enter your country"
              aria-label="UserCountry"
              aria-describedby="UserCountry"
              formControlName="country"
            />
          </div>
        </div>
        <!-- end::country -->

        <!-- start::phone -->

        <div class="col-lg-5">
          <div class="input-group my-2 align-items-center">
            <div class="input-group-prepend">
              <span
                class="input-group-text d-inline-block border-end-0 rounded-end-0 py-2"
                id="Phone"
                ><i class="fa-solid fa-mobile-screen text-dark-gray"></i
              ></span>
            </div>
            <input
              type="tel"
              class="form-control bg-light p-2"
              placeholder="Enter your phone"
              aria-label="Phone"
              aria-describedby="Phone"
              formControlName="phoneNumber"
            />
          </div>
        </div>

        <!-- end::phone -->

        <!-- start::Password -->
        <div class="col-lg-5">
          <div class="input-group my-2">
            <div class="input-group-prepend">
              <span
                class="input-group-text d-inline-block border-end-0 rounded-end-0 py-2"
                id="UserPassword"
                ><i class="fa-solid fa-lock text-dark-gray"></i
              ></span>
            </div>
            <input
              [type]="isHide ? 'password' : 'text'"
              class="form-control bg-light border-end-0 py-2"
              placeholder="Enter your password"
              aria-label="UserPassword"
              aria-describedby="UserPassword"
              formControlName="password"
            />

            <!-- start:: eye icon  -->
            <div class="input-group-prepend">
              <a (click)="isHide = !isHide">
                <span
                  class="input-group-text d-inline-block border-start-0 rounded-start-0 py-2 cursor-pointer"
                  id="UserPassword"
                  ><i
                    [class]="isHide ? 'fa-eye-slash' : ' fa-eye'"
                    class="fa-regular text-dark-gray"
                  ></i></span
              ></a>
            </div>
            <!-- end:: eye icon  -->
          </div>
        </div>
        <!-- end::Password -->

        <!-- start::confirm-Password -->
        <div class="col-lg-5">
          <div class="input-group my-2">
            <div class="input-group-prepend">
              <span
                class="input-group-text d-inline-block border-end-0 rounded-end-0 py-2"
                id="userConfirmPassword"
                ><i class="fa-solid fa-lock text-dark-gray"></i
              ></span>
            </div>
            <input
              [type]="isHideConfirmPassword ? 'password' : 'text'"
              class="form-control bg-light border-end-0 py-2"
              placeholder="Enter your password"
              aria-label="userConfirmPassword"
              aria-describedby="userConfirmPassword"
              formControlName="confirmPassword"
            />

            <!-- start:: eye icon  -->
            <div class="input-group-prepend">
              <a (click)="isHideConfirmPassword = !isHideConfirmPassword">
                <span
                  class="input-group-text d-inline-block border-start-0 rounded-start-0 py-2 cursor-pointer"
                  id="UserPassword"
                  ><i
                    [class]="isHideConfirmPassword ? 'fa-eye-slash' : ' fa-eye'"
                    class="fa-regular text-dark-gray"
                  ></i></span
              ></a>
            </div>
            <!-- end:: eye icon  -->
          </div>
        </div>
        <!-- end::confirm-Password  -->
      </div>
    </div>
    <!-- end::row  -->

    <!-- start::links -->
    <div class="links my-2 d-flex justify-content-between align-items-center">
      <a
        class="cursor-pointer text-decoration-none fw-medium text-dark-light"
        routerLink="/verify"
        >Verify?</a
      >
      <a
        class="cursor-pointer text-decoration-none fw-medium text-main"
        routerLink="/login"
        >Login Now?</a
      >
    </div>
    <!-- end::links -->

    <!-- start::button -->
    <button type="submit" class="green-btn w-100 my-2 p-2">Register</button>
  </form>
  <!-- end:: form  -->
</div>
