<div>
  <!--start:: form title  -->
  <app-form-title
    description="Welcome Back! Please enter your details"
    title="Register"
  ></app-form-title>
  <!--end:: form title  -->

  <!-- start:: form  -->
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <div class="container-flued">
      <div class="row justify-content-between">
        <!-- start::image -->
        <div class="col-lg-8 mx-auto mb-3">
          <ngx-dropzone
            [multiple]="false"
            (change)="onSelect($event)"
            class="rounded-circle w-50 mx-auto position-relative"
          >
            <ngx-dropzone-label>Select or Drop your image!</ngx-dropzone-label>
            <ngx-dropzone-preview
              class="mx-auto rounded-circle"
              *ngFor="let f of files"
              [removable]="true"
              (removed)="onRemove(f)"
            >
              <!-- <ngx-dropzone-label
                >{{ f.name }} ({{ f.type }})</ngx-dropzone-label
              > -->
            </ngx-dropzone-preview>
            <!-- start::preview  -->
            <ngx-dropzone-image-preview
              class="rounded-circle mx-auto w-50 position-absolute z-3"
              ngProjectAs="ngx-dropzone-preview"
              *ngFor="let f of files"
              [file]="f"
            >
              <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
            </ngx-dropzone-image-preview>
            <!-- end::preview  -->
          </ngx-dropzone>
        </div>
        <!-- end::image  -->

        <!-- start::userName -->
        <div class="col-lg-5">
          <div class="input-group my-2 align-items-center">
            <div class="input-group-prepend">
              <span
                class="input-group-text d-inline-block border-end-0 rounded-end-0 py-2"
                id="userName"
                ><i class="fa-regular fa-user text-dark-gray"></i
              ></span>
            </div>
            <input
              #userName
              type="text"
              class="form-control bg-light p-2"
              placeholder="Enter your name"
              aria-label="userName"
              aria-describedby="userName"
              formControlName="userName"
            />
          </div>

          <!-- start::userName show validation -->
          <div
            class="alert alert-danger my-2"
            *ngIf="
              registerForm.get('userName')?.errors &&
              (registerForm.get('userName')?.touched ||
                userName.value.length > 0)
            "
          >
            <p *ngIf="registerForm.get('userName')?.getError('required')">
              Name is required
            </p>
          </div>
          <!-- end::userName show validation -->
        </div>
        <!-- end::userName  -->

        <!-- start::email -->
        <div class="col-lg-5">
          <div class="input-group my-2 align-items-center">
            <div class="input-group-prepend">
              <span
                class="input-group-text d-inline-block border-end-0 rounded-end-0 py-2"
                id="UserEmail"
                ><i class="fa-regular fa-envelope text-dark-gray"></i
              ></span>
            </div>
            <input
              #email
              type="email"
              class="form-control bg-light p-2"
              placeholder="Enter your E-mail"
              aria-label="UserEmail"
              aria-describedby="UserEmail"
              formControlName="email"
            />
          </div>

          <!-- start::email show validation -->
          <div
            class="alert alert-danger my-2"
            *ngIf="
              registerForm.get('email')?.errors &&
              (registerForm.get('email')?.touched || email.value.length > 0)
            "
          >
            <p *ngIf="registerForm.get('email')?.getError('required')">
              Email is required
            </p>
          </div>
          <!-- end::email show validation -->
        </div>
        <!-- end::email -->

        <!-- start::country -->
        <div class="col-lg-5">
          <div class="input-group my-2 align-items-center">
            <div class="input-group-prepend">
              <span
                class="input-group-text d-inline-block border-end-0 rounded-end-0 py-2"
                id="UserCountry"
                ><i class="fa-solid fa-globe text-dark-gray"></i
              ></span>
            </div>
            <input
              #country
              type="text"
              class="form-control bg-light p-2"
              placeholder="Enter your country"
              aria-label="UserCountry"
              aria-describedby="UserCountry"
              formControlName="country"
            />
          </div>

          <!-- start::country show validation -->
          <div
            class="alert alert-danger my-2"
            *ngIf="
              registerForm.get('country')?.errors &&
              (registerForm.get('country')?.touched || country.value.length > 0)
            "
          >
            <p *ngIf="registerForm.get('country')?.getError('required')">
              Country is required
            </p>
          </div>
          <!-- end::country show validation -->
        </div>
        <!-- end::country -->

        <!-- start::phone -->
        <div class="col-lg-5">
          <div class="input-group my-2 align-items-center">
            <div class="input-group-prepend">
              <span
                class="input-group-text d-inline-block border-end-0 rounded-end-0 py-2"
                id="Phone"
                ><i class="fa-solid fa-mobile-screen text-dark-gray"></i
              ></span>
            </div>
            <input
              #phoneNumber
              type="tel"
              class="form-control bg-light p-2"
              placeholder="Enter your phone"
              aria-label="Phone"
              aria-describedby="Phone"
              formControlName="phoneNumber"
            />
          </div>

          <!-- start::phoneNumber show validation -->
          <div
            class="alert alert-danger my-2"
            *ngIf="
              registerForm.get('phoneNumber')?.errors &&
              (registerForm.get('phoneNumber')?.touched ||
                phoneNumber.value.length > 0)
            "
          >
            <p *ngIf="registerForm.get('phoneNumber')?.getError('required')">
              Phone number is required
            </p>
            <p *ngIf="registerForm.get('phoneNumber')?.getError('pattern')">
              Invalid format number
            </p>
          </div>
          <!-- end::phoneNumber show validation -->
        </div>
        <!-- end::phone -->

        <!-- start::Password -->
        <div class="col-lg-5">
          <div class="input-group my-2">
            <div class="input-group-prepend">
              <span
                class="input-group-text d-inline-block border-end-0 rounded-end-0 py-2"
                id="UserPassword"
                ><i class="fa-solid fa-lock text-dark-gray"></i
              ></span>
            </div>
            <input
              #password
              [type]="isHide ? 'password' : 'text'"
              class="form-control bg-light border-end-0 py-2"
              placeholder="Enter your password"
              aria-label="UserPassword"
              aria-describedby="UserPassword"
              formControlName="password"
            />

            <!-- start:: eye icon  -->
            <div class="input-group-prepend">
              <a (click)="isHide = !isHide">
                <span
                  class="input-group-text d-inline-block border-start-0 rounded-start-0 py-2 cursor-pointer"
                  id="UserPassword"
                  ><i
                    [class]="isHide ? 'fa-eye-slash' : ' fa-eye'"
                    class="fa-regular text-dark-gray"
                  ></i></span
              ></a>
            </div>
            <!-- end:: eye icon  -->
          </div>

          <!-- start::password show validation -->
          <div
            class="alert alert-danger my-2"
            *ngIf="
              registerForm.get('password')?.errors &&
              (registerForm.get('password')?.touched ||
                password.value.length > 0)
            "
          >
            <p *ngIf="registerForm.get('password')?.getError('required')">
              Password is required
            </p>
          </div>
          <!-- end::password show validation -->
        </div>
        <!-- end::Password -->

        <!-- start::confirm-Password -->
        <div class="col-lg-5">
          <div class="input-group my-2">
            <div class="input-group-prepend">
              <span
                class="input-group-text d-inline-block border-end-0 rounded-end-0 py-2"
                id="userConfirmPassword"
                ><i class="fa-solid fa-lock text-dark-gray"></i
              ></span>
            </div>
            <input
              #confirmPassword
              [type]="isHideConfirmPassword ? 'password' : 'text'"
              class="form-control bg-light border-end-0 py-2"
              placeholder="Enter your password"
              aria-label="userConfirmPassword"
              aria-describedby="userConfirmPassword"
              formControlName="confirmPassword"
            />

            <!-- start:: eye icon  -->
            <div class="input-group-prepend">
              <a (click)="isHideConfirmPassword = !isHideConfirmPassword">
                <span
                  class="input-group-text d-inline-block border-start-0 rounded-start-0 py-2 cursor-pointer"
                  id="UserPassword"
                  ><i
                    [class]="isHideConfirmPassword ? 'fa-eye-slash' : ' fa-eye'"
                    class="fa-regular text-dark-gray"
                  ></i></span
              ></a>
            </div>
            <!-- end:: eye icon  -->
          </div>

          <!-- start::confirmPassword show validation -->
          <div
            class="alert alert-danger my-2"
            *ngIf="
              registerForm.get('confirmPassword')?.errors &&
              (registerForm.get('confirmPassword')?.touched ||
                confirmPassword.value.length > 0)
            "
          >
            <p
              *ngIf="registerForm.get('confirmPassword')?.getError('required')"
            >
              Confirm Password is required
            </p>
          </div>
          <!-- end::confirmPassword show validation -->
        </div>
        <!-- end::confirm-Password  -->
      </div>
    </div>
    <!-- end::row  -->

    <!-- start::links -->
    <div class="links my-2 d-flex justify-content-between align-items-center">
      <a
        class="cursor-pointer text-decoration-none fw-medium text-dark-light"
        routerLink="/verify"
        >Verify?</a
      >
      <a
        class="cursor-pointer text-decoration-none fw-medium text-main"
        routerLink="/login"
        >Login Now?</a
      >
    </div>
    <!-- end::links -->

    <!-- start::button -->
    <button
      type="submit"
      class="green-btn w-100 my-2 p-2"
      [disabled]="registerForm.invalid"
    >
      Register
    </button>
  </form>
  <!-- end:: form  -->
</div>
