<div class="min-vh-100 bg-auth">
  <div class="container">
    <div class="row justify-content-center align-items-center min-vh-100">
        <div class="auth-container bg-light w-75 rounded-3 p-3">

          <!-- start::logo  -->
        <div class="logo text-center">
          <img src="../../assets/images/logo-text.svg" alt="logo" />
        </div>
        <!-- end::logo  -->

        <!-- start::wrapper  -->
         <router-outlet></router-outlet>
        <!-- end::wrapper  -->
      </div>
    </div>
  </div>
</div>
