// fonts
$main-family: "Inter", sans-serif;

// app color
$main-color: #4aa35a;
$dark-color: #494949;
$dark-light-color: #3a3a3d;
$dark-gray-color: #49494999;

// radius percentage
$main-radius: 16px;
