// fonts
$main-family: "Inter", sans-serif;

// app color
$main-color: #4aa35a;
$main-color-disabled: rgba(74, 163, 90,0.6);
$dark-color: #494949;
$dark-light-color: #3a3a3d;
$gray-color: #49494999;
$dark-gray-color:#8391A1;
$white-color:#fff;

// radius percentage
$main-radius: 16px;
