<div>
  <!-- form title  -->
  <app-form-title
    description="No worries! Please enter your email and we will send a password reset link "
    title="Forgot Your Password?"
  ></app-form-title>

  <!-- start:: form  -->
  <form [formGroup]="forgetPasswordForm" (ngSubmit)="onForgetPassword()">
    <!-- start::email -->
    <div class="input-group my-5 align-items-center">
      <div class="input-group-prepend">
        <span
          class="input-group-text d-inline-block border-end-0 rounded-end-0 py-2"
          id="UserEmail"
          ><i class="fa-regular fa-envelope text-dark-gray"></i
        ></span>
      </div>
      <input
        #email
        type="email"
        class="form-control bg-light p-2"
        placeholder="Enter your E-mail"
        aria-label="UserEmail"
        aria-describedby="UserEmail"
        formControlName="email"
      />
    </div>
    <!-- end::email -->

    <!-- start::email validation  -->
    <div
      class="alert alert-danger my-3"
      *ngIf="
        forgetPasswordForm.get('email')?.errors &&
        (forgetPasswordForm.get('email')?.touched || email.value.length > 0)
      "
    >
      <p *ngIf="forgetPasswordForm.get('email')?.getError('required')">
        Email is required
      </p>
      <p *ngIf="forgetPasswordForm.get('email')?.getError('email')">
        Invalid Email Format
      </p>
    </div>
    <!-- end::email validation  -->


    <!-- start::button -->
    <button
      type="submit"
      class="green-btn w-100 my-2 p-2 "
      [disabled]="forgetPasswordForm.invalid"
    >
      Submit
    </button>
  </form>
  <!-- end:: form  -->
</div>
