<div>
  <!-- form title  -->
  <app-form-title
    description="Please Enter Your Otp  or Check Your Inbox"
    title=" Verify Account  "
  ></app-form-title>

  <!-- start:: form  -->
  <form [formGroup]="verifyForm" (ngSubmit)="onVerify()">
    <!-- start::email -->
    <div class="input-group my-4 align-items-center">
      <div class="input-group-prepend">
        <span
          class="input-group-text d-inline-block border-end-0 rounded-end-0 py-2"
          id="UserEmail"
          ><i class="fa-regular fa-envelope text-dark-gray"></i
        ></span>
      </div>
      <input
        #email
        type="email"
        class="form-control bg-light p-2"
        placeholder="Enter your E-mail"
        aria-label="UserEmail"
        aria-describedby="UserEmail"
        formControlName="email"
      />
    </div>
    <!-- end::email -->

    <!-- start::email validation  -->
    <div
      class="alert alert-danger my-3"
      *ngIf="
        verifyForm.get('email')?.errors &&
        (verifyForm.get('email')?.touched || email.value.length > 0)
      "
    >
      <p *ngIf="verifyForm.get('email')?.getError('required')">
        Email is required
      </p>
      <p *ngIf="verifyForm.get('email')?.getError('email')">
        Invalid Email Format
      </p>
    </div>
    <!-- end::email validation  -->

        <!-- start::OTP -->
    <div class="input-group my-4 align-items-center">
      <div class="input-group-prepend">
        <span
          class="input-group-text d-inline-block border-end-0 rounded-end-0 py-2"
          id="UserEmail"
          ><i class="fa-solid fa-lock text-dark-gray"></i
        ></span>
      </div>
      <input
        #otp
        type="text"
        class="form-control bg-light p-2"
        placeholder="OTP"
        aria-label="otp"
        aria-describedby="otp"
        formControlName="code"
      />
    </div>
    <!-- end::OTP -->

    <!-- start::OTP validation  -->
    <div
      class="alert alert-danger my-3"
      *ngIf="
        verifyForm.get('code')?.errors &&
        (verifyForm.get('code')?.touched || otp.value.length > 0)
      "
    >
      <p *ngIf="verifyForm.get('code')?.getError('required')">
        OTP is required
      </p>
      <p *ngIf="verifyForm.get('code')?.getError('minlength')">
        Min characters is 4
      </p>
      <p *ngIf="verifyForm.get('code')?.getError('maxlength')">
        Max characters is 6
      </p>
    </div>
    <!-- end::OTP validation  -->


    <!-- start::button -->
    <button
      type="submit"
      class="green-btn w-100 my-2 p-2 "
      [disabled]="verifyForm.invalid"
    >
      send
    </button>
  </form>
  <!-- end:: form  -->
</div>
