<div>
  <!-- form title  -->
  <app-form-title
    description="Please Enter Your Otp  or Check Your Inbox"
    title=" Reset  Password"
  ></app-form-title>

  <!-- start:: form  -->
  <form [formGroup]="resetForm" (ngSubmit)="onReset()">
    <!-- start::email -->
    <div class="input-group my-4 align-items-center">
      <div class="input-group-prepend">
        <span
          class="input-group-text d-inline-block border-end-0 rounded-end-0 py-2"
          id="UserEmail"
          ><i class="fa-regular fa-envelope text-dark-gray"></i
        ></span>
      </div>
      <input
        #email
        type="email"
        class="form-control bg-light p-2"
        placeholder="Enter your E-mail"
        aria-label="UserEmail"
        aria-describedby="UserEmail"
        formControlName="email"
      />
    </div>
    <!-- end::email -->

    <!-- start::email validation  -->
    <div
      class="alert alert-danger my-3"
      *ngIf="
        resetForm.get('email')?.errors &&
        (resetForm.get('email')?.touched || email.value.length > 0)
      "
    >
      <p *ngIf="resetForm.get('email')?.getError('required')">
        Email is required
      </p>
      <p *ngIf="resetForm.get('email')?.getError('email')">
        Invalid Email Format
      </p>
    </div>
    <!-- end::email validation  -->


        <!-- start::OTP -->
    <div class="input-group my-4 align-items-center">
      <div class="input-group-prepend">
        <span
          class="input-group-text d-inline-block border-end-0 rounded-end-0 py-2"
          id="UserEmail"
          ><i class="fa-solid fa-lock text-dark-gray"></i
        ></span>
      </div>
      <input
        #otp
        type="text"
        class="form-control bg-light p-2"
        placeholder="OTP"
        aria-label="otp"
        aria-describedby="otp"
        formControlName="seed"
      />
    </div>
    <!-- end::OTP -->

    <!-- start::OTP validation  -->
    <div
      class="alert alert-danger my-3"
      *ngIf="
        resetForm.get('seed')?.errors &&
        (resetForm.get('seed')?.touched || otp.value.length > 0)
      "
    >
      <p *ngIf="resetForm.get('seed')?.getError('required')">
        OTP is required
      </p>
      <p *ngIf="resetForm.get('seed')?.getError('minlength')">
        Min characters is 4
      </p>
      <p *ngIf="resetForm.get('seed')?.getError('maxlength')">
        Max characters is 6
      </p>
    </div>
    <!-- end::OTP validation  -->

    <!-- start:: new Password -->
    <div class="input-group my-4">
      <div class="input-group-prepend">
        <span
          class="input-group-text d-inline-block border-end-0 rounded-end-0 py-2"
          id="newPassword"
          ><i class="fa-solid fa-lock text-dark-gray"></i
        ></span>
      </div>
      <input
        #newPassword
        [type]="isHide ? 'password' : 'text'"
        class="form-control bg-light border-end-0 py-2"
        placeholder="New password"
        aria-label="newPassword"
        aria-describedby="newPassword"
        formControlName="password"
      />

      <!-- start:: eye icon  -->
      <div class="input-group-prepend">
        <a (click)="isHide = !isHide">
          <span
            class="input-group-text d-inline-block border-start-0 rounded-start-0 py-2 cursor-pointer"
            id="UserPassword"
            ><i
              [class]="isHide ? 'fa-eye-slash' : ' fa-eye'"
              class="fa-regular text-dark-gray"
            ></i></span
        ></a>
      </div>
      <!-- end:: eye icon  -->
    </div>
    <!-- end::Password -->

    <!-- start::new password validation  -->
    <div
      class="alert alert-danger my-3"
      *ngIf="
        resetForm.get('password')?.errors &&
        (resetForm.get('password')?.touched || newPassword.value.length > 0)
      "
    >
      <p *ngIf="resetForm.get('password')?.getError('required')">
        password is required
      </p>
      <p *ngIf="resetForm.get('password')?.getError('pattern')">
        Invalid password
      </p>
      <p *ngIf="resetForm.get('password')?.getError('minlength')">
        password must be at least 6 characters
      </p>
    </div>
    <!-- end::password validation  -->


        <!-- start::confirm new Password -->
    <div class="input-group my-4">
      <div class="input-group-prepend">
        <span
          class="input-group-text d-inline-block border-end-0 rounded-end-0 py-2"
          id="confirmNewPassword"
          ><i class="fa-solid fa-lock text-dark-gray"></i
        ></span>
      </div>
      <input
        #confirmNewPassword
        [type]="isHideConfirmPassword ? 'password' : 'text'"
        class="form-control bg-light border-end-0 py-2"
        placeholder="Confirm new password"
        aria-label="confirmNewPassword"
        aria-describedby="confirmNewPassword"
        formControlName="confirmPassword"
      />

      <!-- start:: eye icon  -->
      <div class="input-group-prepend">
        <a (click)="isHideConfirmPassword = !isHideConfirmPassword">
          <span
            class="input-group-text d-inline-block border-start-0 rounded-start-0 py-2 cursor-pointer"
            id="UserPassword"
            ><i
              [class]="isHideConfirmPassword ? 'fa-eye-slash' : ' fa-eye'"
              class="fa-regular text-dark-gray"
            ></i></span
        ></a>
      </div>
      <!-- end:: eye icon  -->
    </div>
    <!-- end::Password -->

    <!-- start::new password validation  -->
    <div
      class="alert alert-danger my-3"
      *ngIf="
        resetForm.get('confirmPassword')?.errors &&
        (resetForm.get('confirmPassword')?.touched || confirmNewPassword.value.length > 0)
      "
    >
      <p *ngIf="resetForm.get('confirmPassword')?.getError('required')">
        confirmPassword is required
      </p>
      <p *ngIf="resetForm.get('confirmPassword')?.getError('pattern')">
        Invalid confirmPassword
      </p>
      <p *ngIf="resetForm.get('confirmPassword')?.getError('minlength')">
        confirmPassword must be at least 6 characters
      </p>
    </div>
    <!-- end::new password validation  -->


    <!-- start::button -->
    <button
      type="submit"
      class="green-btn w-100 my-2 p-2 "
      [disabled]="resetForm.invalid"
    >
      Reset Password
    </button>
  </form>
  <!-- end:: form  -->
</div>
