@use "./styles/variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"); /* You can add global styles to this file, and also import other style files */

body {
  font-family: $main-family;
}

// colors
.text-main {
  color: $main-color;
}
.text-dark-color {
  color: $dark-color;
}
.text-dark-light {
  color: $dark-light-color;
}
.text-gray-color {
  color: $gray-color;
}
.text-dark-gray {
  color: $dark-gray-color;
}
.text-white-color{
  color: $white-color;
}
// button style
button {
  border-radius: 8px;
  border: none;
  &.green-btn {
    background-color: $main-color;
    color: $white-color;
  }
}
.cursor-pointer{
  cursor: pointer;
}
// .form-control:focus {
//   border-color: $main-color;
//   box-shadow: none;
// }

input::placeholder {
  color: $dark-gray-color;
  font-size: 13px;
}